.board {
  display: inline-block;
  padding: 8px;
  background-color: #c0c0c0;
  border: 4px solid;
  border-color: #fff #808080 #808080 #fff;
}

.board.won {
  animation: celebrate 0.5s ease-in-out;
}

.board-row {
  display: flex;
}

@keyframes celebrate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
