* {
  box-sizing: border-box;
}

:root {
  font-family: 'Courier New', monospace;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
